#contents {
    display: flex;
    justify-content: center;
}

#contents_box {
    border: 1.5px solid rgba(152, 152, 152, 0.421);
    width: 65%;
    height: 100%;
    padding: 30px 50px;
}

/* titles */
.contents_title {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
}

.cTitle {
    font-size: 1.1vw;
    font-weight: 600;
}

.more {
    font-size: 0.9vw;
    font-weight: 600;
}

/* ranking */
#contents_ranking {
    display: flex;
    border-top: 1px solid black;
    justify-content: space-around;
    padding: 30px 30px;
    /* border: 1px solid black; */
    height: 100%;
    margin: 5px 0px;
}

#plant_img {
    width: 13vw;
    height: 19vw;
    border-radius: 10px;
}

#contents2_wrap {
    display: flex;
    border-top: 1px solid black;
    padding-top: 40px;
}

.ranking_block {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: rgb(238, 237, 237);
    width: 13.3vw;
    height: 22vw;
}

.name {
    font-size: 1vw;
    font-weight: 400;
}


/* second contents box */
#contents2_wrap {
    display: flex;
    justify-content: space-around;
}

.contents2_in {
    margin-top: 22px;
    padding: 0px 10px;
    /* border: 1px solid black; */
}

#line {
    border-left: 1px solid black;
}

/* Q&A */
.QandA_border {
    border-top: 1px solid gray;
}

.QandA_box {
    /* border-bottom: 1px solid rgb(90, 89, 89); */
    display: flex;
    align-items: center;
    width: 15vw;
    height: 2.1vw;
    font-weight: 600;
    font-size: 0.9vw;
    margin-top: 5px;
    /* background-color: #d4d7d5; */
}

.QandA_row {
    border-top: 1px solid gray;
    width: 27vw;
}

.QandA_row:first-child {
    border: none;
}

.show_time {
    text-align: right;
    font-size: 0.8vw;
    color: gray;
}

/* Chat */
.chat_img {
    width: 9.9vw;
    height: 9vw;
    border-radius: 10px;
}

#chat_row {
    display: flex;
    justify-content: space-between;
    width: 27vw;
}

.chat_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px solid rgb(201, 199, 199);
    border-radius: 10px;
    padding: 7px 5px;
    height: 19vw;
    width: 10vw;
}

.chatTop_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chat_row {
    display: flex;
    justify-content: space-around;
    width: 25.8vw;;
}

.chat_title {
    margin: 1vw 0vw;
    font-size: 1vw;
    font-weight: 500;
}

.chat_info {
    font-weight: 340;
    font-size: 1vw;
}

.mHashTag {
    color: rgb(87, 157, 255);
    text-decoration: underline;
    font-size: 0.9vw;
}