body {
    font-family: 'Press Start 2P';
    margin: 0px;
    background-image: url('/img/sun.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15vw;
}

#wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nav {
    width: 100%;
    height: 5vw;
    /* border: 1px solid black; */
}
#title {
    font-size: 1.5vw;
    margin: 1.5vw 0vw 3vw 0vw;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 100%;
    flex-direction: column;
}

#ranking {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_intro,
.rnk_title {
    text-align: center;
    font-size: 1.3vw;
}

.user_intro {
    color: rgb(0, 26, 255);
    margin-top: 1vw;
    width: 15vw;
    /* border: 1px solid black; */
}

.ranker_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 20vw;
}

.ranker_img {
    display: flex;
    align-items: center;
}

.rnk1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 26vw;
    background-color: rgb(0, 26, 255);
    margin-left: 10.2vw;
    box-shadow: 0px 5px 7px gray;
}

.rnk1 img {
    width: 18vw;
    height: 24vw;
}

.rnk {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 10vw;
    background-color: rgb(221, 221, 221);
    margin-left: 2vw;
}

.rnk img {
    width: 7vw;
    height: 8vw;
    cursor: pointer;
}

.rnk11 {
    margin-left: 5vw;
}

#user_home_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_btn {
    display: flex;
    justify-content: center;
    background-image: url('/img/btn_format.png');
    background-repeat: no-repeat;
    background-size: 30.5vw;
    margin: 2.8vw 0vw;
    width: 31vw;
    cursor: pointer;
    /* border: 1px solid black; */
}

#house_btn {
    border: none;
    margin: 3vw 0vw;
    font-size: 1.2vw;
    font-family: 'Press Start 2P';
    width: 26vw;
    background-color: white;
    cursor: pointer;
}


#home_btn:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 60, 255));
}

#house_btn:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 60, 255));
}

#user_info {
    /* border: 1px solid black; */
    z-index: 1;
    position: sticky; 
    margin-top: 15px;
    width: 100%;
}

#info_box {
    background-color: rgba(19, 18, 18, 0.606);
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    padding: 1vw 2vw;
}

#info_box img {
    width: 8vw;
    height: 8vw;
    background-color: white;
    border-radius: 100%;
}