#contents_box {
    display: flex;
    justify-content: center;
    
}

#join_box {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(173, 172, 172, 0.318);
    width: 40%;
    height: 54vw;
    padding: 25px 38px;
}

#join_input {
    display: grid; /* grid 쩐다... 따봉 */
    justify-content: center;
}

#join_title {
    font-size: 4.5vw;
    font-weight: lighter;
    color: #7ba68780;
    margin-bottom: 7vw;
}

.info_input{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.4vw;
    font-weight: lighter;
    margin-bottom: 1vw;
}

.info_box {
    margin-right: 20px;
} 

.inputBox {
    background-color: rgba(226, 226, 226, 0.698);
    width: 16vw;
    height: 2.2vw;
    border: none;
    margin-top: 0.9vw;
}

/* toast ui Date Picker */
.tui-datepicker-input {
    margin-top: 5px;
    width: 16.3vw;
    border: none;
    height: 2.2vw;
}

#datepicker-input{
    font-size: 1vw;
    background-color: rgba(226, 226, 226, 0.698);
}

#join_btn {
    border: none;
    margin-top: 2.6vw;
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    border-radius: 22px;
    background-color: #50875b6b;
    color: white;
    cursor: pointer;
}
/* agreeBox */
#agreeIntro {
    font-size: 1.1vw;
    display: grid;
    flex-direction: column;
    color:rgba(59, 86, 66, 0.405)
}

.agree {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.agreeChk {
    margin-right: 1.5vw;    
}

/* .chkBox {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 16px;
  outline: 0;
  width: 16px;
} */