#contents_box {
    display: flex;
    justify-content: center;
    
}

#join_box {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(173, 172, 172, 0.318);
    width: 40%;
    height: 54vw;
    padding: 25px 38px;
}

#join_input {
    display: grid; /* grid 쩐다... 따봉 */
    justify-content: center;
}

#join_title {
    font-size: 4.5vw;
    font-weight: lighter;
    color: #7ba68780;
    margin-bottom: 7vw;
}

.info_input{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.4vw;
    font-weight: lighter;
    margin-bottom: 2vh;
}

.info_box {
    margin-right: 20px;
} 

.inputBox {
    background-color: rgba(226, 226, 226, 0.698);
    width: 16vw;
    height: 30px;
    border: none;
    margin-top: 10px;
}

#bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* toast ui Date Picker */
.tui-datepicker-input {
    margin-top: 5px;
    width: 16.3vw;
    border: none;
    height: 35px;
}

#datepicker-input{
    font-size: 1vw;
    background-color: rgba(226, 226, 226, 0.698);
}

#join_btn {
    border: none;
    margin-top: 40px;
    width: 10vw;
    height: 47px;
    font-size: 1.2vw;
    border-radius: 22px;
    background-color: #50875b6b;
    color: white;
    cursor: pointer;
}

/* .btn_area {
    display: flex;
    justify-content: center;
} */