#contents_box {
    display: flex;
    justify-content: center;
    
}

#login_box {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(173, 172, 172, 0.318);
    width: 40%;
    height: 54vw;
    padding: 25px 38px;
}

#login_input {
    display: grid; /* grid 쩐다... 따봉 */
    justify-content: center;
}

#login_title {
    font-size: 4.5vw;
    font-weight: lighter;
    color: #7ba68780;
    margin-bottom: 7vw;
}

.info_input{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.4vw;
    font-weight: lighter;
    margin-bottom: 1.6vw;
}

.inputBox {
    background-color: rgba(226, 226, 226, 0.698);
    width: 16vw;
    height: 2.2vw;
    border: none;
    margin-top: 10px;
}

#login_btn {
    border: none;
    margin-top: 20px;
    width: 7.6vw;
    height: 3vw;
    font-size: 1.2vw;
    border-radius: 15px;
    background-color: #50875b6b;
    color: white;
    cursor: pointer;
}

#bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom_btn {
    margin-right: 10px;
    border-bottom: 1px solid black;
}