body {
    font-family: 'Press Start 2P';
    margin: 0px;
}

#main_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rank_title {
    margin-bottom: 6vw;
    font-size: 1.8vw;
}

#rank_contents {
    display: flex;
    align-items: center;
    /* background-image: url('/img/bg_sky.jpeg'); */
}

.ranker img {
    width: 20vw;
    height: 27vw;
}

.ranker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height: 30vw;
    background: linear-gradient( to bottom, blue, rgb(207, 207, 255), blue );
    box-shadow: 0px 3px 7px rgb(82, 82, 82);
}

.ranker_info {
    display: flex;
    /* border: 1px solid black; */
    height: 27vw;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: 1.4vw;
    margin-right: 10vw;
}

.user_info {
    color: blue;
    margin: 1.8vw 0vw;
}

#user_info {
    margin-top: 1080px;
    display: flex;
    align-items: center; 
    background-color: rgb(65, 65, 65);
    /* border: 5px solid black; */
    width: 100%;
    height: 9vw;
    position: fixed;
    opacity: 70%;
}

#user_photo img {
    width: 8vw;
    height: 9vw;
}

#user_photo {
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 1.5vw;
}

#user_lvl,
#user_nick {
    color: white;
    margin-left: 2.3vw;
    font-size: 1.2vw;
}
