body {
    font-family: 'Press Start 2P';
}

#main_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rank_title {
    margin-bottom: 6vw;
    font-size: 1.8vw;
}

.ranker img {
    width: 20vw;
    height: 27vw;
}

.ranker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 29vw;
    background: linear-gradient( to bottom, blue, rgb(207, 207, 255), blue );
    box-shadow: 0px 3px 7px rgb(82, 82, 82);
}