body {
    font-family: 'Press Start 2P';
    margin: 0px;
    /* background-image: url('/img/sun.png'); */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15vw;
    animation-name: sun_move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes sun_move {
    0% {
        background-image: url('/img/sun.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 15vw;
        
    }

    50% {
        background-image: url('/img/sun.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 13.5vw;
    }

    100% {
        background-image: url('/img/sun.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 15vw;
    }
}

#wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 2vw;
    padding: 2vw 3vw 2vw 0vw;
    font-size: 1vw;
    color: rgb(107, 106, 106);
    /* border: 1px solid black; */
}

#nav span {
    display: flex;
    margin-right: 0.7vw;
    cursor: pointer;
}

#contents {
    margin-top: 5vw;
}

#room_bg {
    opacity: 70%;
    /* border: 1px solid black; */
    width: 50vw;
    height: 40vw;
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: bottom;
    background-image: url('/img/roomBg.png');
}

#pet1 {
    background-image: url('/img/pet1.png');
    background-repeat: no-repeat;
    background-size: 16vw;
    background-position: center;
    width: 13vw;
    height: 11vw;
    /* border: 1px solid black; */
}

.pet_area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
    width: 13vw;
    height: 40vw;
    /* border: 1px solid black; */
    cursor: pointer;
}

#pet1_name {
    width: 4vw;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(55, 54, 54, 0.56);
    color: rgb(168, 168, 168);
}

/* user */
#user_info {
    /* border: 1px solid black; */
    z-index: 1;
    position: sticky; 
    width: 100%;
}

#info_box {
    background-color: rgba(19, 18, 18, 0.606);
    width: 100%;
    height: 6vw;
    display: flex;
    margin-top: 3vw;
    justify-content: space-around;
    align-items: center;
    padding: 1vw 0vw;
}

#user_profile {
    display: flex;
    background-image: url('/img/user_photo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8vw;
    background-color: white;
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    /* border: 1px solid black; */
}

.user_bar {
    color: white;
    margin-left: 2vw;
    font-size: 1.1vw;
}

.lvl {
    margin-left: 3vw;
}

#user_default {
    display: flex;
    align-items: center;
    width: 50%;
}

#user_ui {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    padding-right: 2vw;
}

#user_ui a {
    font-size: 1.1vw;
    color: white;
    text-decoration: none;
}

#user_ui a:hover {
    /* font-size: 1.3vw; */
    text-decoration: underline;
}

