body {
    font-family: 'Press Start 2P';
    margin: 0px;
    /* background-image: url('/img/sun.png'); */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15vw;
    animation-name: sun_move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes sun_move {
    0% {
        background-image: url('/img/sun.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 15vw;
        
    }

    50% {
        background-image: url('/img/sun.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 13.5vw;
    }

    100% {
        background-image: url('/img/sun.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 15vw;
    }
}

#wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 2vw;
    padding: 2vw 3vw 2vw 0vw;
    font-size: 1vw;
    color: rgb(107, 106, 106);
    /* border: 1px solid black; */
}

#nav span {
    display: flex;
    margin-right: 0.7vw;
    cursor: pointer;
}

#contents {
    margin-top: 5vw;
}

#room_bg {
    opacity: 70%;
    /* border: 1px solid black; */
    width: 50vw;
    height: 40vw;
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: bottom;
    background-image: url('/img/roomBg.png');
}

#pet1 {
    background-image: url('/img/pet1.png');
    background-repeat: no-repeat;
    background-size: 16vw;
    background-position: center;
    width: 13vw;
    height: 11vw;
    /* border: 1px solid black; */
}

.pet_area {
    display: flex;
    padding: 1vw;
    align-items: center;
    width: 13vw;
    height: 40vw;
    /* border: 1px solid black; */
    cursor: pointer;
}

